<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-center">

                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" uk-icon="icon: sign-in" class="uk-icon-link">Sign-in</a></li>
                        <li class="uk-active"><a href="" uk-icon="icon: sign-out" class="uk-icon-link">Sign-out</a></li>
                        <li>
                            <a href="#">Student</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li>
                                        <a href="#offcanvas-usage" uk-toggle>New</a>

                                        <div id="offcanvas-usage" uk-offcanvas>
                                            <div class="uk-offcanvas-bar">

                                                <!-- Create new student form & pass provider id in URL-->
                                                <form action="/main/?provider_id=<%= providers[0]._id%>" method="POST" class="uk-form-stacked">
                                                    
                                                    <!-- Add first and last name-->
                                                    <div class="uk-margin">
                                                        <label class="uk-form-label" for="form-stacked-text"><span uk-icon="user"></span> New Student</label>
                                                        <div class="uk-form-controls">
                                                            <input class="uk-input uk-form-width-small" id="form-stacked-text" type="text" placeholder="first name" name="firstName">
                                                            <input class="uk-input uk-form-width-small uk-margin" id="form-stacked-text" type="text" placeholder="last name" name="lastName">
                                                        </div>
                                                    </div>

                                                    <!-- Add age-->
                                                    <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                                                        <div>
                                                            <label class="uk-form-label" for="form-stacked-select"><span uk-icon="bookmark"></span> Age</label>
                                                            <div class="uk-form-controls">
                                                                <select class="uk-select uk-form-width-xsmall" id="form-stacked-select" name="age">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- Add grade-->
                                                        <div>
                                                            <label class="uk-form-label" for="form-stacked-select"><span uk-icon="bookmark"></span> Grade</label>
                                                            <div class="uk-form-controls">
                                                                <select class="uk-select uk-form-width-xsmall" id="form-stacked-select" name="grade">
                                                                    <option value="prek">prek</option>
                                                                    <option value="tk">tk</option>
                                                                    <option value="1st">1st</option>
                                                                    <option value="2nd">2nd</option>
                                                                    <option value="3rd">3rd</option>
                                                                    <option value="4th">4th</option>
                                                                    <option value="5th">5th</option>
                                                                    <option value="6th">6th</option>
                                                                    <option value="7th">7th</option>
                                                                    <option value="8th">8th</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add target sound-->
                                                    <div class="uk-text-center" uk-grid>
                                                        <div class="uk-width-auto@m">
                                                            <label class="uk-form-label" for="form-stacked-select"><span uk-icon="crosshairs"></span> Target</label>
                                                            <div class="uk-form-controls">
                                                                <select class="uk-select uk-form-width-xsmall" id="form-stacked-select" name="targetSound">
                                                                    <option value="p">p</option>
                                                                    <option value="b">b</option>
                                                                    <option value="t">t</option>
                                                                    <option value="d">d</option>
                                                                    <option value="k">k</option>
                                                                    <option value="g">g</option>
                                                                    <option value="f">f</option>
                                                                    <option value="v">v</option>
                                                                    <option value="θ">θ</option>
                                                                    <option value="ð">ð</option>
                                                                    <option value="s">s</option>
                                                                    <option value="z">z</option>
                                                                    <option value="ʃ">ʃ</option>
                                                                    <option value="ʒ">ʒ</option>
                                                                    <option value="h">h</option>
                                                                    <option value="tʃ">tʃ</option>
                                                                    <option value="dʒ">dʒ</option>
                                                                    <option value="m">m</option>
                                                                    <option value="n">n</option>
                                                                    <option value="ŋ">ŋ</option>
                                                                    <option value="l">l</option>
                                                                    <option value="r">r</option>
                                                                    <option value="w">w</option>
                                                                    <option value="j">j</option>
                                                                    <!-- Two-element clusters -->
                                                                    <option value="pr">pr</option>
                                                                    <option value="br">br</option>
                                                                    <option value="kr">kr</option>
                                                                    <option value="gr">gr</option>
                                                                    <option value="fr">fr</option>
                                                                    <option value="θr">θr</option>
                                                            
                                                                    <option value="ʃr">ʃr</option>
                                                                
                                                                    <option value="tʃr">tʃr</option>
                                                                    <option value="dʒr">dʒr</option>
                                                                    <option value="sn">sn</option>
                                                                    <option value="sl">sl</option>
                                                                    <option value="st">st</option>
                                                                    <option value="sp">sp</option>
                                                                    <option value="sm">sm</option>
                                                                    <option value="st">st</option>
                                                                    <!-- Three-element clusters -->
                                                                    <option value="spr">spr</option>
                                                                    <option value="str">str</option>
                                                                    <option value="skr">skr</option>
                                                                    <option value="skw">skw</option>
                                                                    <option value="spl">spl</option>
                                                                    <option value="skl">skl</option>
                                                                    <option value="sʃr">sʃr</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    
                                                        <!-- Add word position-->
                                                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-flex-center uk-width-auto@m">
                                                            <label><input class="uk-radio" type="radio" name="wordPosition" checked>initial</label>
                                                            <label><input class="uk-radio" type="radio" name="wordPosition">medial</label>
                                                            <label><input class="uk-radio" type="radio" name="wordPosition">final</label>
                                                        </div>
                                                    </div>

                                                    <!-- Add max syllables-->
                                                    <div class="uk-margin">
                                                        <label>Max syllables</label>
                                                        <input class="uk-range" type="range" name="maxSyllables" value="2" min="1" max="5" step="1" aria-label="Range" oninput="sliderFunction(this)" uk-tooltip="hello">
                                                    </div>
                                                   
                                                    <!-- add 6 words -->
                                                    <div class="uk-grid-small uk-grid-column-small uk-grid-row-small" uk-grid>
                                                        <label class="uk-form-label" for="form-stacked-select"><span uk-icon="file-text" ></span> Words</label>
                                                        <div class="uk-grid uk-grid-column-small uk-grid-row-small">
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text" aria-label="20" name="realWords[]">
                                                            </div>
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text" aria-label="20" name="realWords[]">
                                                            </div>
                                                        </div>
                                                        <div class="uk-grid uk-grid-column-small uk-grid-row-small">
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text" aria-label="20" name="realWords[]">
                                                            </div>
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text" aria-label="20" name="realWords[]">
                                                            </div>
                                                        </div>
                                                        <div class="uk-grid uk-grid-column-small uk-grid-row-small">
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text" aria-label="20" name="realWords[]">
                                                            </div>
                                                            <div class="uk-width-1-2">
                                                                <input class="uk-input uk-form-small" type="text"aria-label="20" name="realWords[]">
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <!-- Add phono/artic -->
                                                    <div class="uk-grid-small uk-child-width-auto uk-grid uk-flex-center">
                                                        <label><input class="uk-radio" type="radio" name="phono" checked>artic</label>
                                                        <label><input class="uk-radio" type="radio" name="phono">phono</label>
                                                    </div>
                                                    <!-- Submit-->
                                                    <button class="uk-button uk-margin uk-button-primary uk-flex-centertype="submit" type="submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <span class="uk-navbar-item uk-logo" href="#"><img src="/assets/listophonic.png" width="40px"> Listophonic </span>
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>