<main class="uk-grid-medium uk-margin-medium-top" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
    <% providers[0].students.forEach(student => { %>
        <!-- Card -->
        <div class="uk-card-small uk-padding-small uk-border-rounded uk-box-shadow-small uk-box-shadow-hover-large uk-margin-medium-right" style="width: 12em;">
            <div class="uk-card-header uk-flex-between" style="display: flex; flex-direction: row;">
                <h5 class="uk-card-title"><%= student.name %></h3>
                <a href="#modal-<%= student._id%>" uk-toggle uk-icon="icon: push">
                </a>
            </div>
            <div class="uk-card-body">
                <ul class="uk-list uk-list-striped">
                    <% let wordList = student.realWords.concat(student.nonsenseWords); %>
                    <% wordList.forEach(word => { %>
        
                        <li><%= word %></li>
        
                    <% }) %>
                        
                </ul>
            </div>
            <div class="uk-card-footer uk-flex uk-flex-between">
                <a href="" uk-icon="icon: trash"></a>
                <a href="" uk-icon="icon: file-edit"></a>
            </div>
        </div>

        
        <%- include ("viewStudentModal", {student: student, wordList: wordList, phrases: student.phrases, sentences: student.sentences}) %>
        
    <% }) %>
</main>


