<div class="modal fade" id="<%= student._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= student.name %></h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body" >
              <div class="container-fluid">
                  <table class="table table-sm">
                      <thead>
                          <tr>
                              <th scope="col">Word</th>
                              <th scope="col">Phrase</th>
                              <th scope="col">Sentence</th>
                          </tr>
                      </thead>
                      <tbody> 
                          <% for(a=0; a < wordList.length ; a++){ %>
                              <tr>
                                  <td><%= wordList[a] %></td>
                                  <td><!-- GPT3.5 return call phrases from wordList[a]-->></td>
                                  <td><!-- GPT3.5 return call sentences from wordList[a]-->></td>
                              </tr>
                          <% } %>
                      </tbody>
                  </table>
              </div>
          </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Understood</button>
      </div>
  </div>
  </div>
</div>