<main class="d-flex" style="flexmax-height: 100vh; flex-wrap: nowrap; height:-webkit-fill-available; overflow-x:auto;overflow-y:hidden;" >

    <%- include ("./partials/head.ejs") %>
    <%- include ("./partials/sidenav.ejs") %>
    <%- include ("./partials/footer.ejs") %>

</main>