<main class="d-flex flex-row" style="max-height: 100vh; flex-wrap: nowrap; height:-webkit-fill-available; overflow-x:auto;overflow-y:hidden;" >

    <%- include ("./partials/head.ejs") %>
    <%- include ("./partials/sideNav.ejs") %>
    <%- include ("./partials/studentCards.ejs") %>

</main>
<%- include ("./partials/footer.ejs") %>