@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500&display=swap');

body .playfair-display-header {
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.playfair-display-logo {
font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.playfair-display-menu {
    font-family: "Playfair Display", serif;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
    }
  
body .carousel-caption h5 {
    font-family: 'Playfair Display', serif !important;

}

body .custom-btn {
    background-color: transparent;
    border: none;
}

body button.card-footer:last-child {
    background-color: #FEF5E6 !important;
}
  
